<accordion [closeOthers]="false">
  <accordion-group heading="Rekening" [isOpen]="true">
    <p><a routerLink="/rekening/list">Daftar rekening</a></p>
    <p><a routerLink="/rekening/saldo">Informasi Saldo</a></p>
    <p><a routerLink="/rekening/mutasi">Mutasi Rekening</a></p>
  </accordion-group>
  <accordion-group heading="Transaksi" [isOpen]="true">
    <p><a routerLink="/transfer">Transfer</a></p>
  </accordion-group>
  <accordion-group heading="Personalisasi" [isOpen]="true">
    <p><a routerLink="/profil">Profil</a></p>
  </accordion-group>
</accordion>
